.header{
    width: 100%;
    background-color: #61ba00;
    padding: 10px 0;
    text-align: center;
}

.menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #144B8E;
}
.menu-item{
    display: flex;
    color: yellow;
    border: 1px solid black;
    padding: 10px 10px 0 10px;
    width: 50px;
    height: 30px;
}
.column{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.column-item{
    font-size: 24pt;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
}
.column-A{
    background-color: #6e6e6e;
    color: white;
    flex-grow: 1;
    min-width: 200px;
    vertical-align: middle;
    text-align: center;
}
.column-B{
    background-color: #8c8c8c;
    flex-grow: 2;
    color: white;
    min-width: 400px;
}
.column-C{
    flex-grow: 2;
    background-color: #282c34;
    color: white;
    min-width: 200px;
    vertical-align: middle;
    text-align: center;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    height: 50px;
}
.span-text{
    text-align: center;
}


@media only screen and (min-width: 600px){
    .column-item{
        height: 650px;
        font-size: 48pt;
    }
    .column-A{
        min-width: 300px;
    }
    .column-B{
        min-width: 500px;
    }
    .column-C{
        min-width: 300px;
    }
}
