body{
   font-family: Arial, Helvetica, sans-serif;

}
h2{
   background-color: lightgray;
    text-decoration: underline;
}
h3{
    font-family: Arial;
    color: navy ;
}
a{
    color:red;
}
.align-img{
    display: inline;
}
.align-text{
    font-style: italic;
}