<!DOCTYPE html>
<html>
<body>

<table>
    <tr>
        <th>Cookies Key</th> 
        <th>Cookies Value</th>
    </tr>
    <tr>
        <th><%=key%></th> 
        <th><%=value%></th>
    </tr>
</table>
</body>
</html>