<!DOCTYPE html>
<html lang="en">

<head>
    <title>Magic 8 balls</title>
    <meta charset="utif-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
</head>

<body>
        <h2>Ask a Question</h2>
        <div>
            <input id="ask">
            <button type="submit" id="btn">Ask 8 Ball</button>
        </div>
    <!-- <a href="/list">See Party List</a> -->
</body>

</html>
